<h1>収支一覧</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% @transactions.each do |transaction| %>
        <%= link_to transaction_date %>
        <%= link_to transaction_amount %>
        <%= link_to transaction_transaction_type %>
        <%= link_to transaction_category %>
      <% end %>
    </div>
  </div>
</div>